#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  background-image: url("imagel.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #efe7ec;
}
#hero > h1 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 20px;
}

#hero > p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.5;
}

#hero > button {
  width: 300px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
}
